*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
.div1{
text-align: center;
font-size: 48px;
margin: 230px 50px 50px 50px;  
}


body{
    font-family: 'Anek Kannada', sans-serif;
    background-image: url('../img/imgwarer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300vh;
  
}

.bild{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
}

.info{
    text-align: center;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
}

.infohead{
font-size: 50px;
font-weight: bold;
}

.infosub{
    font-size: 28px;
}
#buy{
    margin: 70px 0px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
#buy a{
    text-transform: uppercase;
    color: #1a1a1a;
}
#buy a:hover{
    color:blueviolet
  }
#logo{
    margin-top: 20px; 
    margin-left: 20px;
    display: block;
    float: left;
    width: 200px;
    }
.head{
    margin-right:200px;
}