*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
  
   font-family: 'Anek Kannada', sans-serif;
   background-image: url("..//warer.jpg");
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
        }

#logo{
    margin-top: 20px; 
    margin-left: 20px;
    display: block;
    float: left;
    width: 200px;
    }
.head{
  text-align: center;
  margin-top: 200px;
  justify-content: center;
}
div{
  display: flex;
  flex-direction: row;
}

.wow{
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    border: solid salmon;
    background-color: seagreen;
  }

  .links{
    width: 100px;
  }

  #logos{
    justify-content: center;
    margin: 5px;
  }